{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block productlist %}active{% endblock %}

{% block content %}
	
	<div class="page-title image-title" style="background-image:url({% static 'clientstatic/img/sli00.jpg' %}); height: 350px; object-fit: contain;">
		<div class="container">
			
		</div>
	</div>

	<section class="gray-bg">
		<div class="container">
			<div class="row">	
			<!-- Single Destination -->
				{% for item in itemlist %}

					<div class="col-md-4 col-sm-6">
						<article class="tour-box style-1" style="width: 320px;">
							
							<!-- Single Tour -->
							<div class="tour-box-image">
								<figure>
									<a href="">
										<img src="{{item.image.url}}" class="img-responsive listing-box-img" alt="" />
										<div class="list-overlay"></div>
									</a>
									
								</figure>
							</div>
							
							<div class="inner-box">
								<div class="box-inner-ellipsis">
									<h4 class="hotel-name">
										{{item.title}} </a>
									</h4>
									<div class="price-box">
										<div class="tour-price fl-right">
										{% if item.price %}
											<i class="fa fa-rupee"></i><span class="theme-cl f-bold">{{item.price}}</span>
										{% endif %}
										</div>
									</div>

								</div>
							</div>
							<a href="{% url 'tntapp:productdetail' item.id %}" class="btn btn-wow theme-btn orderbutton">
							 Order
							</a>

						</article>

					</div>

					{% endfor %}
				</div>

				<div class="row">
				<div class="col-md-12">
					<div class="bs-example">
					{% if is_paginated %}
						<ul class="pagination">
						{% if page_obj.has_previous %}
							<li class="page-item">
					  			<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
									<span class="ti-arrow-left"></span>
									<span class="sr-only">Previous</span>
					  			</a>
							</li>
						{% else %}
							<li class="disabled">
								<span class="ti-arrow-left"></span>
							</li>
						{% endif %}
						{% for i in paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="page-item active">
									<span class="sr-only">{{i}}</span>
								</li>
							{% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}
			
						{% if page_obj.has_next %}
							<li class="page-item"> 
								<a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
									<span class="ti-arrow-right"></span>
									<span class="sr-only">Next</span>
							  </a>
							</li>
						{% else %}
							<li class="disabled"><span class="ti-arrow-right"></span>
							
						{% endif %}
					
						</ul>
					{% endif %}
					</div>
				</div>
			</div>

				
			</div>
		</section>
				
		

{% endblock %}

{% block script %}  

<script>
	
	$(document).on('click', '.orderbutton', function() {
		retry_order(5, $(this));
});


		function retry_order(retryfor, selector) {
			var get_url = selector;
			$.ajax({

				url: get_url.attr('href'),
				type: 'GET',
				success: function (data) {
					console.log('data')
					return false;
				},
				error: function (err){
					
					while (retryfor != 0){
						retry_order(retryfor, selector);
						console.log('retrying...');
						console.log(retryfor);
						retryfor = retryfor-1
					}
				},
			});
			
			

		}
		

</script>	

{% endblock %}